@import url('jqueryuimin.css');
@import url('style.css');
.titulo {
	font-family: acLight;
	font-style: italic;
	font-weight: bold;
	font-size: 22px;
	color: #0078ad;
}
.titulo strong {
	color: #0078ad;
}
.titulomenor {
	color: #0078ad;
	font-size: 14px;
	font-family: roboto;
	margin: 5px 0 0 0 ;
}
.texto, .listaD {
	font-family: roboto;
	color: #3B3B3B;
	font-size: 12px;
}
.destacado{
	font-weight: bold;
}
.azul{
	color: #0078ad;
}
.listaL{
	font-size: 12px;
	list-style-image: url('images/infomas.png');
	margin-top: 30px;
}
.listaL li{
	margin: 5px 0 1px 0;
}

.linkTexto{
	font-family: roboto;
	font-style: italic;
	color: #3B3B3B;
	cursor: pointer;
}
.linkTexto:hover{
	color: #0078ad;
}

.texto a:link, .texto a:visited, .texto a:active {
	font-family: roboto, Geneva, sans-serif;
	color: #3B3B3B;
	text-decoration: none;
}
.texto a:hover {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.texto ul, .listaD {
	list-style-image: url('images/infomas.png');
}
.lista, .texto ul li {
	font-family: roboto;
	color: #3B3B3B;
}
.destacado {
	font-weight: bold;
}
.destacado em {
	font-family: roboto, Geneva, sans-serif;
	color: #3B3B3B;
}
.grande {
	font-size: 22px;
}
.mediano {
	font-size: 14px;
}
#pdfCarpeta {
	display: block;
	height: 81px;
	width: 65px;
	background-image: url('images/pdf_ico.png');
}
#suscripcion,#cbumodal {
	display: none;
	background: #FFF;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#suscripcionContainer {
	background: #FFF;
	padding: 2% 3% 2% 3%;
	min-width: 530px;
}
.formContacto {
	margin-top: 4%;
}
#suscripcion-header {
	color: #0078ad;
}
#suscripcion-header div {
	font-style: italic;
}
.campoForm {
	margin: 1% 2% 4% 0;
	max-width: 300px;
	font-family: roboto;
	color: #0078ad;
}
.campoform label {
	width: 40%;
	float: right;
}
.requerido:after {
	content: '    ' url('images/infomas.png');
	width: 10px;
	height: 14px;
}
.campoForm input {
	border: 0;
	border-right: 1px solid #0078ad;
	border-bottom: 1px solid #0078ad;
	float: right;
	padding: 0;
}
.campoFormTextArea {
	height: 60px;
	float: left;
	border: 1px solid #0078ad;
}
.aclaracion {
	margin: 2% 0 2% 0;
	width: 100%;
	float: left;
}
.botones {
	width: 100%;
	float: left;
}
#suscribir {
	background: url('images/button_inscribirse.png');
	width: 215px;
	height: 79px;
	border: 0;
	cursor: pointer;
	display: block;
	float: left;
}
#suscribir:hover {
	background: url('images/button_inscribirse_onhover.png');
}
.botonFormulario button {
	background: url('images/button_inscribirse.png');
	width: 215px;
	height: 79px;
	border: 0;
	margin-left: 35%;
	cursor: pointer;
}
.botonFormulario button:hover {
	background: url('images/button_inscribirse_onhover.png');
}

#wrapParaQue{
	width: 100%;
	min-height: 108px;	
	display: inline-block;
}

#wrapComo{
	width: 100%;
	min-height: 150px;
	display: inline-block;
}
#wrapComo div{
	float: left;
	width: 40%;
	margin-left: 8%;
}

#wrapSenDvdRev {
	width: 100%;
	min-height: 80px;
	display: inline-block;
}
.donarTercio{
	width: 28%;
	padding: 5px 5px 5px 10px;
	height: 100%;
	float: left;
	text-align: center;
}
.tarjeta{
	padding-top: 100px;
	background: url('images/tarjeta.png') no-repeat; 
}
.tarjeta:hover{
	background: url('images/tarjeta_onhover.png') no-repeat;
	cursor: pointer;
}
.transferencia{
	padding-top: 100px;
	background: url('images/transferencia.png') no-repeat;
}
.transferencia:hover{
	background: url('images/transferencia_onhover.png') no-repeat;
	cursor:pointer;
}
.mensaje{
	padding-top: 100px;
	background: url('images/mensaje.png') no-repeat;
}
#cbu{
	display: none;
}
.tituloDonar{
	font-size: 35px;	
	font-family: acLight;
	color: #0078ad;	
	margin: 10px 0px 25px 0px;
	font-style: italic;
	text-align: center;
}
#senialadores {
	background: url('images/senialadores.png') no-repeat;
	padding-left: 54px;
	min-height: 76px;
	float: left;
	width: 17%;
	margin-right: 10px;
}
#dvds {
	background: url('images/dvd.png') no-repeat;
	padding-left: 68px;
	min-height: 71px;
	float: left;
	width: 20%;
	margin-right: 10px;
}
#revistanc {
	background: url('images/revista.png') no-repeat;
	padding-left: 65px;
	min-height: 80px;
	float: left;
	width: 33%;
}
#revistanc p {
	margin: 10px 0 0 0;
}
#revistanc ul {
	margin: 0;
	padding: 0 0 0 15px;
}
.fecha {
	font-family: roboto, Geneva, sans-serif;
	color: #3B3B3B;
	font-size: 10px;
}
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
.modal_close {
	position: absolute;
	top: 0px;
	right:0px;
	margin-right: -9px;
	margin-top: -9px;
	display: block;
	width: 18px;
	height: 18px;
	background: url(images/cerrar.png);
	z-index: 2;
}
.imagenNoticia img{
	max-height: 200px;
}
.error, #ocurrioError{
	color: #FF0000;
	font-style: italic;
}
#muchasGracias{
	color: #1C2172;
	font-style: italic;
}
.oculto{
	display: none;
}
