@import url('fonts.css');
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
}

#header {
	width: 100%;
	min-height: 54px;
	height: 16%;
	top: 0;
	position: relative;
	display: block;
}
#fondoHeader {
	background-color: #F8F8F8;
}
#logo {
	background: url(img/encabezado.png) left no-repeat;
	background-position: 1% 0%;
	background-size: auto 100%;
	background-color: #F8F8F8;
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#wrapper {
	background-color: #FFFFFF;
	background-size: auto 100%;
	padding-top: 0.25em;
	min-width: 960px;
	width: 76%;
	margin: auto;
}
#wrapperDonar {
	background-color: #FFFFFF;
	background-size: auto 100%;
	padding-top: 0.25em;
	min-width: 960px;
	width: 90%;
	margin: auto;
}
#footer {
	background-color: #005E84;
	color: #FFF;
	width: 100%;
	min-height: 72px;
	height: 21%;
	font-family: roboto;
}
h1, h2, h3, h4 {
	margin: 0;
}
#menu {
	position: absolute;
	font-family: roboto;
	font-weight: bold;
	font-size: 12px;
	border-top: 2px solid #CCCCCC;
	border-bottom: 1px solid #E3E3E3;
	bottom: 0;
	background-color: #EFEFEF;
	width: 90%;
	padding-right: 10%;
}
.itemmenu {
	float: right;
	padding-right: 2.5%;
	padding-left: 2.5%;
	margin-bottom: 0.7em;
	margin-top: 1em;
	border: 0px solid #1C2172;
	border-right-width: 1px;
}
.itemmenu:hover {
	text-shadow: 0 0 10px #fff;;
}
.ultimo {
	border: 0px;
}
.itemmenu a:link, .itemmenu a:visited, .itemmenu a {
	color: #0078ad;
	text-decoration: none;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
.vSeparator {
	width: 0.1em;
	box-shadow: inset 2px 0 2px -2px rgba(0,0,0,0.5);
	min-height: 180px;
	height: 90%;
	border: 0;
	margin: 0.5em;
	float: left;
}
.hSeparator {
	height: 0.1em;
	border: 0;
	box-shadow: inset 0 2px 2px -2px rgba(0,0,0,0.5);
	margin: 0.5em;
	width: 80%;
	float: left;
}
.mitadV {
	min-height: 40%;
	width: 100%;
}
.listaMitad{
	width: 45%;
	margin-right: 5%;
	float: left; 
}
#footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
}
.copyright {
	color: #FFFFFF;
	font-family: roboto;
	text-align: center;
	font-size: 8px;
	float: right;
	margin: 0 30% 2px 0;
}
.redes {
	font-size: 10px;
	color: #FFFFFF;
	font-family: Georgia;
	float: right;
	margin: 2% 0.8% 0px 0px;
	cursor: pointer;
}
.redes ul li img {
	height: 20px;
}
.containerLinkFoot {
	margin-left: 10%;
	min-height: 54px;
	width: 75%;
	margin-top: 1%;
	float: left;
	height: 80%;
}
.linkFoot {
	color: #FFFFFF;
	font-family: roboto;
	font-size: 10px;
	float: left;
	padding: 0 2% 0 2em;
	border-right: inset #FFFFFF 1px;
	width: 35%;
	height: 80%;
}
.linkFootUlt {
	color: #FFFFFF;
	font-family: roboto;
	float: left;
	padding: 0 1em 0 2em;
	border-right: inset #4D4D4D 0px;
	width: 13%;
}
.linkFoot li, .linkFootUlt li {
	font-size: 12px;
	padding-top: 5px;
}
.linkFoot h1, .linkFootUlt h1 {
	font-size: 14px;
	margin: 0;
}
.linkFoot h2, .linkFootUlt h2 {
	font-size: 10px;
	float: right;
	margin: 0;
	padding-top: 3%;
}
.containerLinkFoot a, .containerLinkFoot a:link, .containerLinkFoot a:visited {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
/*Contenido*/

#wrapperHerramientas {
	width: 100%;
	min-height: 36px;
	height: 5%;
}
#dondeEstoy {
	float: left;
	width: 23%;
	height: 100%;
}
#herramientas {
	min-width: 430px;
	width: 54%;
	height: 100%;
	float: right;
	margin-bottom: 15px;
}
#wrapperTamanioLetra {
	width: 98px;
	height: 36px;
	float: right;
	border: 0;
	background: url(images/textsize.png) no-repeat;
}
#tamanioLetra {
	float: right;
	width: 50px;
	margin-right: 33px;
	border: 0;
}
#tituloSeccion{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
#terceraColumna {
	width: 18%;
	height: 100%;
	float: right;
}
#navegacion {
	float: left;
	width: 25%;
	background-color: #F9F9F9;
	margin-top: 20px;
}
#navegacion #titulo {
	background-color: #F2F2F2;
	color: #818181;
	font-size: 16px;
	font-style: italic;
	font-family: acLight;
	margin: 0;
	margin-left: 2%;
	float: left;
	width: 98%;
	
}
#navegacion a#titulo {
	cursor: pointer;
}
#navegacion ul {
	list-style-type: none;
}
#navegacion #linksNavegacion {
	background-color: #F9F9F9;
	font-size: 14px;
	font-family: roboto;
	margin: 3% 0 0 0;
	float: left;
	width: 100%;
}
.linkNavegacion {
	cursor: pointer;
	color: #818181;
	margin: 0 0 7px 0;
	padding-right: 4%;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px;
	font-family: roboto;
	display: block;
}
.linkNavegacion:hover{
	color: #212121;
}

.linkSeleccionado {
	color: #444;
	border-bottom: 2px solid #D0D0D0;
}
#cuerpo {
	min-width: 430px;
	width: 52%;
	min-height: 330px;
	margin: 5px 10px 3px 5px;
	padding-left: 3%;
	float: left;
}
#cuerpoGrande {
	min-width: 650px;
	width: 70%;
	min-height: 330px;
	margin: 5px 10px 3px 5px;
	padding-left: 3%;
	float: left;
}
#cuerpoDonar {
	min-width: 650px;
	width: 72%;
	min-height: 330px;
	margin: 5px 10px 3px 0px;
	padding-left: 1%;
	float: left;
}
#relacionados {
	width: 18%;
	height: 90%;
	float: right;
	margin-top: 10px;
	cursor: pointer;
}
#relacionados div {
	background-color: #F7F5CF;
	height: 40%;
	margin-bottom: 4%;
	padding: 5px 5px 3px 3px;
	max-height: 180px;
	cursor: pointer;
}
#relacionados a {
	text-decoration: none;
	color: #8F1F32;
}
#relacionados a:visited{
	text-decoration: none;
	color: #8F1F32;
}
#relacionados p {
	font-size: 14px;
	font-family: roboto;
	color: #0078AD;
	padding: 0 3% 0 3%;
	cursor: pointer;
	text-decoration: none;
}
#relacionados h4 {
	margin: 5px 0 3px 0;
	font-size: 10px;
	padding: 0 3% 0 3%;
	cursor: pointer;
	text-decoration: none;
	color: #8F1F32;
}
#enlacesPermanentes {
	height: 56px;
	float: right;
	margin-top: 2%;
	margin-right: 12%;
	width: 380px;
}
#enlacesPermanentes div {
	height: 44px;
	width: 56px;
	cursor: pointer;
	float: right;
	margin-left: 5%;
	padding-right: 5%;
}
#enlacesPermanentes div a {
	height: 44px;
	width: 56px;
	display: block;
	font-size: 0px;
}
#correo, #cursosVirtuales, #facebook {
	border-right: solid 1px #EBEBEB;
}
#correo a {
	background: url('images/tira_botonera.png') 0 0;
}
#correo a:hover {
	background: url('images/tira_botonera.png') 0 -44px;
}
#cursosVirtuales a {
	background: url(images/tira_botonera.png) -56px 0 no-repeat;
}
#cursosVirtuales a:hover {
	background: url(images/tira_botonera.png) -56px -44px no-repeat;
}
#facebook a {
	background: url(images/tira_botonera.png) -112px 0 no-repeat;
}
#facebook a:hover {
	background: url(images/tira_botonera.png) -112px -44px no-repeat;
}
#biblioteca a {
	background: url(images/tira_botonera.png) -168px 0 no-repeat;
}
#biblioteca a:hover {
	background: url(images/tira_botonera.png) -168px -44px no-repeat;
}
/*Contenido*/
/*Contacto*/
.btnEliminar {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #e5e5e5 5%, #dfdfdf 100% );	
	background-color: #e5e5e5;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #005f84;
	font-family: roboto;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	height: 25px;
	line-height: 25px;
	width: 107px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	cursor: pointer;
}
.btnEliminar :hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #e5e5e5) );
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #e5e5e5 100% );	
	background-color: #dfdfdf;
	cursor: pointer;
}
.btnEliminar :active {
	position: relative;
	top: 1px;
}
.btnEnviar {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #e5e5e5 5%, #dfdfdf 100% );	
	background-color: #e5e5e5;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #005f84;
	font-family: roboto;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	height: 25px;
	line-height: 25px;
	width: 70px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	cursor: pointer;
}
.btnEnviar:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #e5e5e5) );
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #e5e5e5 100% );
	background-color: #dfdfdf;
	cursor: pointer;
}
.btnEnviar:active {
	position: relative;
	top: 1px;
}
/*contacto FIN*/
.dialogoCarga {
	position: absolute;
	top: 100px;
}
.invisible {
	display: block;
	border: 0px;
	padding: 0px;
	height: 0px;
	width: 0px;
	font-size: 0px;
}
